body{
    margin-left: 20px;
}

.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}

button{
    color: black;
    background-color: rgb(6, 247, 179);
    border-radius: 10px;
    border: 0.1px solid rgb(6, 246, 178);
    padding: 4px 8px;
    margin: 4px;
    font-family: 'Comic Sans MS';
}

form{
    display: inline-block;
}